page-detalhes{
    .fab{width: 45px; height: 45px;}
    .titlesPgDetalhes{padding: 0 0 0 10px; color: rgb(70, 66, 66);}
    .titleCarroDetalhes{padding: 0 0 10px 25px;}
    .titleCarroDetalhes h4{color: rgb(70, 66, 66); margin: 0;}
    #map{width: 100%; height: 100%; margin: 0 0 30px 0;}
}